<nav class="navbar navbar-inverse bg-inverse">
    <!-- Navbar content -->
    <a class="navbar-brand" href="#">
        <h3>Angular 4 - File Upload POC</h3>
    </a>
</nav>

<div class="app-card-group">
    <div class="card mat-elevation-z3">
        <div class="card-header">Select the files</div>
        <div class="card-block">
            <div>
                <input mat-raised-button class="custom-file-upload" type="file" ng2FileSelect [uploader]="uploader" multiple /><br/><br/>
                <div class="alert alert-info" style="height: 50px;" ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)" [uploader]="uploader">
                    (or) Drop the file here !
                </div>
                <!-- Single
             <input type="file" ng2FileSelect [uploader]="uploader" /> -->
            </div>
        </div>
    </div>
    <div class="card mat-elevation-z3">
        <div class="card-header">Upload queue - ( Queue length: {{ uploader?.queue?.length }} )
        </div>
        <div class="card-block">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Size</th>
                        <th>Progress</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of uploader.queue">
                        <td><strong>{{ item?.file?.name }}</strong></td>
                        <td nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                        <td>
                            <div class="progress" style="margin-bottom: 0;">
                                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                            </div>
                        </td>
                        <td class="text-center">
                            <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                            <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                            <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                        </td>
                        <td nowrap>
                            <button mat-mini-fab type="button" color="primary" (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                            <span class="glyphicon glyphicon-upload"></span>
                            </button>
                            <button mat-mini-fab type="button" color="accent" (click)="item.cancel()" [disabled]="!item.isUploading">
                            <span class="glyphicon glyphicon-ban-circle"></span>
                            </button>
                            <button mat-mini-fab type="button" color="warn" (click)="item.remove()">
                            <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card mat-elevation-z3">
        <div class="card-header">
            Overall queue progress:
        </div>
        <div class="card-block">
            <div class="progress">
                <div color="warn" class="progress-bar" role="progress" [ngStyle]="{ 'width': uploader.progress + '%' }">
                </div>
            </div>
            <p></p>
            <p>
                <button mat-raised-button color="primary" type="button" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                                <span class="glyphicon glyphicon-upload"></span> Upload all
                            </button>
                <button mat-raised-button color="accent" type="button" (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                                <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                            </button>
                <button mat-raised-button color="warn" type="button" (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                                <span class="glyphicon glyphicon-trash"></span> Remove all
                            </button>
            </p>
        </div>
    </div>
</div>